html, body {
    height: 100%;
    width: 100%;
}

body {
    color: #363c4f;
    margin: 0;
    padding: 0;
    font-family: robotolight;
    overflow-x: hidden;
}

#mainWrapper {
    height: 100%;
}

#contWrapper {
    min-height: 100%;
    position: relative;
}

/*....... App header ........*/
#appHeader {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 15px 50px;
    position: relative;
    z-index: 200;
    background: #3c8dbc;
}

#appHeader .leftCont {

}

#appHeader .logo {
    width: 130px;
    margin-top: 5px;
    font-size: 19px;
    font-weight: bold;
    color: #ec6e00;
}

#appHeader .logo img {
    height: auto;
    width: 100%;
    display: block;
}

#appHeader .rightCont {
}

#appHeader .userSettings {

}

#appHeader .userSettings .head {
    background-image: url("../images/settingsGreen.png");
    background-size: 21px;
}

#appHeader .userSettings .headTitle {
    line-height: 40px;
}

#appHeader .notificationBtn {
    margin-right: 30px;
    color: #363c4f;
    cursor: pointer;
    line-height: 32px;
}

#appHeader .notificationBtn .txt {
    padding: 0 12px;
}

#appHeader .notificationBtn .num {
    background: #ff9625;
    width: 32px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
}

/*...... Login Section ........*/
.loginMain {
    /*position: absolute;*/
    top: 76px;
    bottom: 0;
    width: 100%;
    padding-top: 100px;
}

.loginMain .logTitle {
    /*color: #122536;*/
    color: #ffffff;
}

.loginMain .form li {
    margin-bottom: 20px;
}

.loginMain .form input {
    /*width: 100%;*/
    /*background: #ffffff;*/
    /*border-bottom: 2px solid #bbbbbb;*/
    /*color: #717c99;*/
}

.loginMain .loginSec {
    width: 400px;
    margin: 0 auto;
}

.loginMain .loginSec .loginBtn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    /*background: #ef4b42;*/
    background: #2e76ad;
    cursor: pointer;
    display: block;
    border-bottom: none;
    margin-top: 20px;
    position: relative;

    -webkit-transition: all ease-in 200ms;
    -moz-transition: all ease-in 200ms;
    -ms-transition: all ease-in 200ms;
    -o-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
}

.loginMain .loginSec .loginBtn .loaderBar {
    background: #2e76ad;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*display: none;*/
}

.loginMain .loginSec .loginBtn .loaderBar .circularMain {
    margin-top: 7px;
}

.loginMain .signUp {
    text-align: right;
    margin-top: 5px;
}

.loginMain .userData {
    text-align: left;
    margin-top: 5px;
}

.loginMain .signUp a {
    /*color:#122536;*/
    color: #36b5f1;
}

/*........ pageCont ............*/
#pageCont {
    margin-left: 90px;
}

#pageCont.notify {
    margin-right: 320px;
}

/*.......... Dashboard .........*/
.dataTabs {

}

.dataTabs .rowCont li {
    text-align: center;
}

.dataTabs .rowCont li .content {
    padding: 20px 0;
    cursor: pointer;
}
.dataTabs .rowCont li.active{
    background: #ffffff;
}
.dataTabs.smallestTabs .dataRow .rowCont li .content {
    cursor: default;
}

.dataTabs .numMain {

}

.dataTabs .numMain .num {
    font-size: 50px;
    line-height: 48px;
    font-family: helveticaneuethin;
}

.dataTabs.smallTabs .numMain .num {
    font-size: 34px;
    line-height: 38px;
    font-family: helveticaneuethin;
}

.dataTabs.smallestTabs .numMain .num {
    font-size: 28px;
    line-height: 32px;
    font-family: helveticaneuethin;
}

.dataTabs .active .numMain .num {
    color: #ff9625;
    font-family: helveticaneuelight;
}

.dataTabs .numMain .sign {
    width: 27px;
    height: auto;
    margin-left: 5px;
}

.dataTabs.smallTabs .numMain .sign {
    width: 22px;
}

.dataTabs.smallestTabs .numMain .sign {
    width: 22px;
}

.dataTabs .name {
    font-size: 25px;
    font-family: helveticaneuelight;
    margin-top: 10px;
    color: #8a92a8;
}

.dataTabs.smallTabs .name {
    font-size: 20px;
}

.dataTabs.smallestTabs .name {
    font-size: 16px;
}

.dataTabs .active .name {
    color: #363c4f;
}

/*.dataTabs.smallTabs .active.content{
    border-bottom: 3px solid #ffa23b
}*/

/*.......... map and graph section ..........*/
.mapOrGraph{
    position: relative;
}
.mapOrGraph .mapOrGraphCont{
    height: 500px;
    position: relative;
}
.mapOrGraph .optionsMain{
    margin-bottom: 15px;
}
.mapOrGraph .optionsMain .opt{
    padding: 0 7px;
    line-height: 18px;
    cursor: pointer;
}
.mapOrGraph .optionsMain .opt.active{
    color: #2dc884;
}

.mapOrGraph .graph {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.mapOrGraph .graph.active {
    opacity: 1;
}
.graph .flashGraph ,
.graph .flashGraphMain {
    width: 100%;
    height: 100%;
}
.map{
    width: 100%;
    height: 300px;
}
.mapOrGraph .map{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.mapOrGraph .map.active{
    opacity: 1;
}
.mapMarker{
    background: rgba(45, 200, 132, 0.6);
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-family: helveticaneuelight;
    font-size: 13px;
    transform: translate(-50%,-50%);
}
.mapMarker.one{
    width: 35px;
    line-height: 35px;
}
.mapMarker.two{
    width: 45px;
    line-height: 45px;
}
.mapMarker.three{
    width: 55px;
    line-height: 55px;
    font-size: 14px;
}
.mapMarker.four{
    width: 65px;
    line-height: 65px;
    font-size: 15px;
}
.mapMarker.five{
    width: 75px;
    line-height: 75px;
    font-size: 16px;
}
/*......... campaign .........*/
.dataTable.campaignTable .rowCont li.name {
    width: 20%;
}

.dataTable.campaignTable .rowCont li.brand {
    width: 20%;
}

.dataTable.campaignTable .rowCont li.duration {
    width: 15%;
}

.dataTable.campaignTable .rowCont li.startDate {
    width: 15%;
}

.dataTable.campaignTable .rowCont li.emailId {
    width: 180px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dataTable.campaignTable .rowCont li.clipping {
    width: 15%;
}

.dataTable.campaignTable .rowCont li.issue {
    width: 15%;
}

.dataTable.campaignTable .rowCont li.issue {
    width: 15%;
}

/*------------subMenuTabs---------------------*/

.dataTable.subMenuTabs {
    /*background: #e0e3e9;*/
    background: rgba(224,227,233,0.43);
    color: #696969;
}

.dataTable.subMenuTabs .rowCont li {
    width: auto;
    padding: 15px 30px;
    cursor: pointer;
}

.dataTable.subMenuTabs .name {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
}

.dataTable.subMenuTabs .numMain {
    text-align: center;
}

.dataTable.subMenuTabs .numMain .num {
    font-size: 35px;
    line-height: 38px;
    font-family: helveticaneuethin;
}

.dataTable.subMenuTabs .smallTabs .numMain .num {
    font-size: 34px;
    line-height: 38px;
    font-family: helveticaneuethin;
}

.dataTable.subMenuTabs .active {
    background: #ffffff;
    color: #ff9625;
    /*font-family: helveticaneuelight;*/

}

/*------------------popup notify------------------*/

.popup.notifyAll{
    width:50%;
}



/*-----------------------Analytics Multi select ----------------------------*/
.analytics .campaignStatus{

}
.analytics .offers{
    width:100%;
}


/*-------------Quotient Form-------------------*/

.quotientForm{
    width: 980px;
}



/*----------------Gallery Content---------------------*/
.galleryContent{
    width:100%;
    /*height:100%;*/
}

.galleryContent .imageGallery{
    width:55%;
    display: block;
}
.galleryContent .uploadImage{
    background: #5c6377;
    bottom: 0;
    box-shadow: 2px -3px 3px #4b5161 inset;
    box-sizing: border-box;
    font-family: robotoregular;
    overflow: auto;
    padding: 25px 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    z-index: 100;
}

.galleryContent .uploadImage .loading {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 93px 0;
}

.galleryContent .uploadImage .imageSec {
    width: 100%;
    height: 200px;
    overflow: auto;
    background: rgb(224, 227, 233);
}
.galleryContent .uploadImage .imageSec li {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding: 5px;
}
.galleryContent .uploadImage .imageSec li img{
    width: 100%;
    height: 100%;
    display: block;
}

.imageGallery .gallery{
    width: 100%;
    height: auto;
    max-height:580px;
    overflow: auto;
}
.imageGallery .gallery li {
    width: 18%;
    height: 120px;
    display: block;
    float: left;
    padding: 5px;
    position: relative;
}
.imageGallery .gallery  li img{
    width: 100%;
    height: 100%;
    display: block;
}
.imageGallery .gallery li .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    /* height: 25px; */
    /* width: 25px; */
    background: #a6a6a6;
    padding: 5px;
    cursor: pointer;
}
.imageGallery .gallery li .delete img {
    width: 18px;
    height: 18px;
    display: block;
}

.searchBar{
    width:75%;
}
.pageBreak {
    page-break-after: always;
}