<div class="galleryContent">
    <div class="uploadImage paddingTB">
        <from class="quotientForm">
            <ul class="form paddingFull">
                <li>
                    <div class="input-group">
                        <span class="inputLabel midBlock">User Type : </span>
                        <input type="text" ng-model="uploadData.userType" placeholder="" class="midBlock fullWidth"
                        >
                    </div>
                </li>
                <li>
                    <div class="btn" ng-click="addNewUserType()">Save</div>
                </li>
            </ul>
        </from>
    </div>
    <div class="">
            <div class="dataTable campaignTable full subNormal">
                <div class="dataRow header">
                    <ul class="rowCont">
                        <li class="smallCol">User Type</li>
                    </ul>
                </div>
                <div class="dataRow borderBtm" ng-repeat="type in userTypeList">
                    <ul class="rowCont">
                        <li class="smallCol"><a href="#">{{type.userType}}</a></li>
                    </ul>
                </div>
            </div>

        <div class="loader halfWindow " ng-show="loader">
            <p>Loading</p>
            <img src="images/spinner.gif">
        </div>
    </div>
</div>

