<div class="loginMain">
    <form class="form">
        <div class="loginSec" ng-keypress="enterToLogin($event)">
            <div class="logTitle midTitle centerTxt roboRegular">Welcome</div>
            <ul class="form marginTop">
                <li><input type="text" placeholder="Username" class="subNormal" ng-model="user.userId"></li>
                <li><input type="password" placeholder="Password" class="subNormal" ng-model="user.password"></li>
            </ul>
            <button type="submit" ng-click="checkValidation(user)" class="loginBtn subNormal">
                Login
                <div class="loaderBar" ng-show="loginLoader">
                    <circular-loader ></circular-loader>
                </div>
            </button>

            <div class=" centerTxt paddingFull error small">{{error}}
            </div>

        </div>
    </form>
</div>