<div class="paddingLR paddingTBSml borderBtm">
    <div class="floatLeft searchBar">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="search" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="floatRight">
        <div class="btn small marginTopSrt addNewLInk">ADD VEHICLE</div>
    </div>
    <span class="clear"></span>
</div>
<div class="galleryContent">
    <div class="">
        <div class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <li class="">Campaign Name</li>
                    <li class="">Project Id</li>
                    <li class="">Types</li>
                    <li class="startDate">Created On</li>
                    <li class="startDate">Start Date</li>
                    <li class="">Status</li>
                    <li class=""></li>
                </ul>
            </div>
            <div class="dataRow ">
                <ul class="rowCont">
                    <li class="">{{campaignList.campaignName}}</li>
                    <li class="">{{campaignList.projectId[0].projectName}}</li>
                    <li class="">{{campaignList.campaignType[0].advertiseMode}}</li>
                    <li class="startDate">{{campaignList.creationDate | date : 'MMM dd, yyyy'}}</li>
                    <li class="startDate">{{campaignList.startDate | date : 'MMM dd, yyyy'}}</li>
                    <li class="">{{campaignList.status}}</li>
                    <li class=""><a href="" class="btnLink">View Feeds</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="paddingTB">
    <div class="tabs smallTabs bold borderBtm" ng-init="page=1">
        <a href="" ng-click="page=1" ng-class="{active : page ==1}">View Feeds</a>
        <a href="" ng-click="page=2" ng-class="{active : page ==2}">Vehicle List</a>
        <span class="clear"></span>
    </div>
</div>

<div ng-show="page == 1">
    <div class="midBlock">
        <div class="floatLeft searchBar paddingLR">
            <ul class="form flow">
                <li class="noMargin">
                    <div class="input-group fullWidth">
                        <span class="inputLabel midBlock">Search : </span>
                        <input type="text" ng-model="searchFeed" placeholder="" class="midBlock fullWidth"
                        >
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="inputLabel midBlock">Select Date : </span>
                        <input type="text" ng-model="date" placeholder="" class="midBlock datePicker" b-datepicker>
                    </div>
                </li>
            </ul>

        </div>
        <div class="btn floatRight" ng-click="printDiv('feeds')">Print</div>
        <span class="clear"></span>
    </div>

    <div id="feeds" class="paddingTB">

        <div class="subTitle paddingBtm paddingLR" ng-show="">
            <div class="floatLeft"><strong>Daily Feeds List </strong> </div>
            <div class="floatRight"><strong>Report Date : </strong>{{feedsPayload.endDate}} </div>
            <span class="clear"></span>
        </div>

        <div  class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <li class="smallCol">Vehicle No</li>
                    <li class="startDate">Update Date</li>
                    <li class="startDate">Latitude & Longitude</li>
                    <li class="">Address</li>
                    <li class="showFeedImage">Image</li>
                    <!--<li  class="smallCol"></li>-->
                </ul>
            </div>
            <div class="dataRow noBack borderBtm" ng-repeat="feed in feeds | filter : searchFeed | orderBy : '-_id.updateOn'">
                <ul class="rowCont">
                    <li class="smallCol">{{feed.vehicleNo}}</li>
                    <li class="startDate">{{dateFormat(feed._id.updateOn) | date : 'MMM dd , yyyy [ HH:mm ]'}}</li>
                    <li class="startDate">[{{feed._id.locationData.latitude | number :5}} , {{feed._id.locationData.longitude | number :5}}]</li>
                    <li class="">{{feed._id.locationData.address}} </li>
                    <li class="showFeedImage" ng-click="showImage(feed._id.updateStatus, feed._id.locationData.address)">
                        <img ng-src="{{feed._id.updateStatus}}" height="50px" width="100px"></li>
                    <!--<li class="smallCol"><a class="btnLink" ng-click="removeCategory(item._id)">Delete</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="loader centerTxt" ng-show="loaderFeed">
        <p>Loading</p>
        <img src="images/spinner.gif">
    </div>
</div>
<div ng-show="page == 2">


    <div class="floatLeft searchBar paddingLR">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="searchVehicle" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="dataTable campaignTable full subNormal  borderBtm">
        <div class="dataRow header">
            <ul class="rowCont">
                <li class="">Vehicle No</li>
                <li class="">Registration No</li>
                <li class="">Vehicle Type</li>
                <li class="">Driver Name</li>
                <li class="">Contact No</li>
                <!--<li  class="smallCol"></li>-->
            </ul>
        </div>
        <div class="dataRow noBack" ng-repeat="item in linkedVehicleList | filter : searchVehicle">
            <ul class="rowCont">
                <li class="">{{item.vehicleId[0].vehicleNo}}</li>
                <li class="">{{item.vehicleId[0].registrationNo}}</li>
                <li class="">{{item.vehicleId[0].vehicleType}}</li>
                <li class="">{{item.user[0].fullName}}</li>
                <li class="">{{item.user[0].contactNo}}</li>
                <!--<li class="smallCol"><a class="btnLink" ng-click="removeCategory(item._id)">Delete</a></li>-->
            </ul>
        </div>
    </div>
    <div class="loader centerTxt" ng-show="loaderVehicle">
        <p>Loading</p>
        <img src="images/spinner.gif">
    </div>
</div>
</div>


<div class="popup linkVehicle ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Link New Vehicle
    </div>
    <ul class="form paddingTop">
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Vehicle No :</div>
                    <div class="headTitle midBlock normalColor">
                        ------Select Vehicel---------
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="vehicle in vehicleListForLink" ng-click="selectVehicle(vehicle._id)">
                        {{vehicle.vehicleNo}}
                    </li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Driver Name: </span>
                <input type="text" ng-model="vehicleDriver" placeholder="" class="midBlock" disabled>
            </div>
        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="linkVehicle()">ADD</div>
        </li>

        <li>
            <div class="btn floatRight close" ng-click="">CANCEL</div>
        </li>
    </ul>
    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>
<div class="popup feedImage fixed " style="width: 400px;">
    <div class="x close paddingLR">x</div>
    <div class=" paddingBtmSml">
        <img ng-src="{{selectedImage}}" width="340px" height="400px">
    </div>
    <div class="  paddingBtmSml">
        <strong> Location: </strong> {{feedAddress}}
    </div>


</div>
