<div class="paddingLR paddingTBSml borderBtm">
    <div class="floatLeft searchBar">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="search" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="floatRight">
        <div class="btn small marginTopSrt addCampaign">NEW CAMPAIGN</div>
    </div>
    <span class="clear"></span>
</div>
<div class="galleryContent">
    <div class="">
        <div class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <li class="">Campaign Name</li>
                    <li class="">Project Id</li>
                    <li class="">Types</li>
                    <li class="startDate">Created On</li>
                    <li class="startDate">Start Date</li>
                    <li class="">Status</li>
                    <li class=""></li>
                </ul>
            </div>
            <div class="dataRow " ng-repeat="campaign in campaignList | filter : search">
                <ul class="rowCont">
                    <li class="">{{campaign.campaignName}}</li>
                    <li class="">{{campaign.projectId[0].projectName}}</li>
                    <li class="">{{campaign.campaignType[0].advertiseMode}}</li>
                    <li class="startDate">{{campaign.creationDate | date : 'MMM dd, yyyy'}}</li>
                    <li class="startDate">{{campaign.startDate | date : 'MMM dd, yyyy'}}</li>
                    <li class="">{{campaign.status}}</li>
                    <li class=""><a href="#/app/campaignDetail/{{campaign._id}}" class="btnLink">View Details</a> </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="loader centerTxt" ng-show="loader">
    <p>Loading</p>
    <img src="images/spinner.gif">
</div>

<div class="popup campaign ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Project Detail
    </div>
    <ul class="form paddingTop">

        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Campaign Name : </span>
                <input type="text" ng-model="campaignData.campaignName" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Project :</div>
                    <div class="headTitle midBlock normalColor">
                        {{projectList[0].projectName}}
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="project in projectList" ng-click="campaignData.projectId=project._id">
                        {{project.projectName}}
                    </li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Category :</div>
                    <div class="headTitle midBlock normalColor">
                        --------Select-------
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="category in adsCategory" ng-click="campaignData.campaignType=category._id">{{category.advertiseMode}}</li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Start Date: </span>
                <input type="text" ng-model="campaignData.startDate" placeholder="" class="midBlock datePicker" b-datepicker>
            </div>
        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="addCampaign()">SAVE</div>
        </li>

        <li>
            <div class="btn floatRight close" ng-click="">CANCEL</div>
        </li>
    </ul>
    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>
<!--
<div class="popup editCustomer ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Customer Detail
    </div>
    <ul class="form paddingTop flow">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Customer Code : </span>
                <input type="text" ng-model="customerDetail.cust_id" placeholder="" class="midBlock"
                       value="{{offerData.startDate}}">
                <input type="hidden" ng-model="customerDetail.srl_no" placeholder="">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Full Name : </span>
                <input type="text" ng-model="customerDetail.cust_name" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">E-Mail Id: </span>
                <input type="text" ng-model="customerDetail.email_id" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Contact No : </span>
                <input type="text" ng-model="customerDetail.cust_no" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form">
        <li>
            Address
        </li>

        <li>
            <textarea ng-model="customerDetail.cust_address"></textarea>

        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="updateCustomer(customerDetail.srl_no)">UPDATE</div>
        </li>

        <li>
            <div class="btn floatRight close">CANCEL</div>
        </li>
    </ul>

    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>-->
