<div class="paddingLR paddingTBSrt borderBtm">
    <ul class="form flow small paddingTop">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Select Date : </span>
                <input type="text" ng-model="dates" placeholder="" class="midBlock datePicker" b-datepicker>
            </div>
        </li>
    </ul>
</div>


<div class="mapOrGraph paddingLR">
    <div class="optionsMain helvLight">
        <div class="options floatRight" ng-init="mapGraphOpt='map'">
        </div>
        <span class="clear"></span>
    </div><!--
    <div class="mapOrGraphCont">
        <div class="map" id="dashboardMap" ng-class="{active: mapGraphOpt=='map'}"></div>


    </div>-->
    <div id="dashboardMap" ></div>
    <div class="loaderMap centerTxt" ng-show="loaderFeed">
        <img src="images/spinner.gif">
    </div>
</div>
<div  class="dataTable campaignTable full subNormal  borderBtm">
    <div class="dataRow header">
        <ul class="rowCont">
            <li class="smallCol">Srl No</li>
            <li class="smallCol">Vehicle No</li>
            <li class="startDate">Update Date</li>
            <li class="startDate">Latitude & Longitude</li>
            <li class="">Caption / Address</li>
            <li class="showFeedImage">Image</li>
            <!--<li  class="smallCol"></li>-->
        </ul>
    </div>
    <div class="dataRow noBack borderBtm" ng-repeat="feed in feeds | filter : searchFeed | orderBy : '-_id.updateOn'">
        <ul class="rowCont">
            <li class="smallCol">{{$index+1}}</li>
            <li class="smallCol">{{feed.vehicleNo}}</li>
            <li class="startDate">{{dateFormat(feed._id.updateOn) | date : 'MMM dd , yyyy [ HH:mm ]'}}</li>
            <li class="startDate">[{{feed._id.locationData.latitude | number :5}} , {{feed._id.locationData.longitude | number :5}}]</li>
            <li class="">{{feed._id.locationData.caption}} {{feed._id.locationData.address}} </li>
            <li class="showFeedImage" ng-click="showImage(feed._id.updateStatus, feed._id.locationData.address)">
                <img ng-src="{{feed._id.updateStatus}}" height="50px" width="100px"></li>
            <!--<li class="smallCol"><a class="btnLink" ng-click="removeCategory(item._id)">Delete</a></li>-->
        </ul>
    </div>
</div>
<div class="popup feedImage fixed " style="width: 400px;">
    <div class="x close paddingLR">x</div>
    <div class=" paddingBtmSml">
        <img ng-src="{{selectedImage}}" width="340px" height="400px">
    </div>
    <div class="  paddingBtmSml">
        <strong> Location: </strong> {{feedAddress}}
    </div>


</div>


