<div class="paddingLR paddingTBSrt borderBtm">
    <div class="dropDown midBlock norm trans floatRight subNormal helvLight">
        <div class="head" data-init="0">
            <div class="headTitle">Last Month</div>
        </div>
        <ul class="list">
            <li>Last Month</li>
            <li>Last 3 Months</li>
            <li>Last 6 Months</li>
        </ul>
    </div>
    <span class="clear"></span>
</div>


<div class="mapOrGraph paddingLR">
    <div class="optionsMain helvLight">
        <div class="options floatRight" ng-init="mapGraphOpt='map'">
        </div>
        <span class="clear"></span>
    </div>
    <div class="mapOrGraphCont">
        <div class="map" id="dashboardMap" ng-class="{active: mapGraphOpt=='map'}"></div>
    </div>
</div>


