<div class="paddingLR paddingTBSml borderBtm">
    <div class="floatLeft searchBar">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="search" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="floatRight">
        <div class="btn small marginTopSrt addCustomer">NEW PROJECT</div>
    </div>
    <span class="clear"></span>
</div>
<div class="galleryContent">
    <div class="">
        <div class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <li class="">Project Name</li>
                    <li class="">Types</li>
                    <li class="">Locations</li>
                    <li class="startDate">Start Date</li>
                    <li class="startDate">End Date</li>
                    <li class="emailId">Manager</li>
                    <li class="smallCol">Status</li>
                    <li class="smallCol"></li>
                </ul>
            </div>
            <div class="dataRow " ng-repeat="project in projectList | filter : search">
                <ul class="rowCont">
                    <li class="">{{project.projectName}}</li>
                    <li class="">{{project.advertiseCategory}}</li>
                    <li class="">{{project.advertiseLocations}}</li>
                    <li class="startDate">{{project.startDate}}</li>
                    <li class="startDate">{{project.EndDate}}</li>
                    <li class="">{{project.projectManager}}</li>
                    <li class="">{{project.projectStatus}}</li>
                    <li class="smallCol"><a class="btnLink paddingLR openEditCustomer"
                                            ng-click="getCustomerById(project._id)">Edit</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="popup customer ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Project Detail
    </div>
    <ul class="form paddingTop">

        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Project Name : </span>
                <input type="text" ng-model="projectData.projectName" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Project Category :</div>
                    <div class="headTitle midBlock normalColor">
                        {{adsCategory[0].advertiseMode}}
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="category in adsCategory" ng-click="projectData.advertiseCategory=category._id">{{category.advertiseMode}}</li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Start Date: </span>
                <input type="text" ng-model="projectData.startDate" placeholder="" class="midBlock datePicker" b-datepicker>
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">End Date: </span>
                <input type="text" ng-model="projectData.endDate" placeholder="" class="midBlock datePicker" b-datepicker>
            </div>
        </li>
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Project Manager :</div>
                    <div class="headTitle midBlock normalColor">
                        {{userList[0].fullName}}
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="user in userList" ng-click="projectData.projectManager=user._id">{{user.fullName}}</li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="addProject()">SAVE</div>
        </li>

        <li>
            <div class="btn floatRight close" ng-click="">CANCEL</div>
        </li>
    </ul>
    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>
<!--
<div class="popup editCustomer ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Customer Detail
    </div>
    <ul class="form paddingTop flow">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Customer Code : </span>
                <input type="text" ng-model="customerDetail.cust_id" placeholder="" class="midBlock"
                       value="{{offerData.startDate}}">
                <input type="hidden" ng-model="customerDetail.srl_no" placeholder="">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Full Name : </span>
                <input type="text" ng-model="customerDetail.cust_name" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">E-Mail Id: </span>
                <input type="text" ng-model="customerDetail.email_id" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Contact No : </span>
                <input type="text" ng-model="customerDetail.cust_no" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form">
        <li>
            Address
        </li>

        <li>
            <textarea ng-model="customerDetail.cust_address"></textarea>

        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="updateCustomer(customerDetail.srl_no)">UPDATE</div>
        </li>

        <li>
            <div class="btn floatRight close">CANCEL</div>
        </li>
    </ul>

    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>-->
