<div class="paddingLR paddingTBSml borderBtm">
    <div class="floatLeft searchBar">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="search" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="floatRight">
        <div class="btn small marginTopSrt addCustomer">NEW PROJECT</div>
    </div>
    <span class="clear"></span>
</div>
<div class="galleryContent">
    <div class="">
        <div class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <li class="">Project Name</li>
                    <li class="">Types</li>
                    <li class="">Locations</li>
                    <li class="startDate">Start Date</li>
                    <li class="startDate">End Date</li>
                    <li class="emailId">Manager</li>
                    <li class="smallCol">Status</li>
                    <li class="smallCol"></li>
                </ul>
            </div>
            <div class="dataRow " ng-repeat="project in projects | filter : search">
                <ul class="rowCont">
                    <li class="">{{project.projectName}}</li>
                    <li class="">{{project.advertiseCategory}}</li>
                    <li class="">{{project.advertiseLocations}}</li>
                    <li class="startDate">{{project.startDate}}</li>
                    <li class="startDate">{{project.EndDate}}</li>
                    <li class="">{{project.projectManager}}</li>
                    <li class="">{{project.projectStatus}}</li>
                    <li class="smallCol"><a class="btnLink paddingLR openEditCustomer"
                                            ng-click="getCustomerById(project._id)">Edit</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="popup customer " ng-init="pageNo=0">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Project Detail
    </div>
    <ul class="form paddingTop flow">
        <li>
            <div class="dropDown midBlock full subNormal">
                <div class="head " data-init="0">
                    <div class="midBlock inputLabel">Project Category :</div>
                    <div class="headTitle midBlock normalColor">
                        {{uploadData.userType}}
                    </div>
                </div>
                <ul class="list">
                    <li ng-repeat="type in userType" ng-click="uploadData.userType=type.userType">{{type.userType}}</li>
                </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">User Name : </span>
                <input type="text" ng-model="uploadData.username" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Full Name : </span>
                <input type="text" ng-model="uploadData.fullName" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>

    <ul class="form paddingTop  flow">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Contact No : </span>
                <input type="text" ng-model="uploadData.contactNo" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">E-Mail Id: </span>
                <input type="text" ng-model="uploadData.emailId" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="saveUser()">SAVE</div>
        </li>

        <li>
            <div class="btn floatRight close" ng-click="pageNo=0">CANCEL</div>
        </li>
    </ul>
    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>
<!--
<div class="popup editCustomer ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Customer Detail
    </div>
    <ul class="form paddingTop flow">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Customer Code : </span>
                <input type="text" ng-model="customerDetail.cust_id" placeholder="" class="midBlock"
                       value="{{offerData.startDate}}">
                <input type="hidden" ng-model="customerDetail.srl_no" placeholder="">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Full Name : </span>
                <input type="text" ng-model="customerDetail.cust_name" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">E-Mail Id: </span>
                <input type="text" ng-model="customerDetail.email_id" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Contact No : </span>
                <input type="text" ng-model="customerDetail.cust_no" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form">
        <li>
            Address
        </li>

        <li>
            <textarea ng-model="customerDetail.cust_address"></textarea>

        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="updateCustomer(customerDetail.srl_no)">UPDATE</div>
        </li>

        <li>
            <div class="btn floatRight close">CANCEL</div>
        </li>
    </ul>

    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>-->
