<div class="paddingLR paddingTBSml borderBtm">
    <div class="floatLeft searchBar">

        <ul class="form flow">
            <li class="noMargin">
                <div class="input-group fullWidth">
                    <span class="inputLabel midBlock">Search : </span>
                    <input type="text" ng-model="search" placeholder="" class="midBlock fullWidth"
                    >
                </div>
            </li>
        </ul>
    </div>
    <div class="floatRight">
        <div class="btn small marginTopSrt addUser">NEW USER</div>
    </div>
    <span class="clear"></span>
</div>
<div class="galleryContent">
    <div class="">
        <div class="dataTable campaignTable full subNormal  borderBtm">
            <div class="dataRow header">
                <ul class="rowCont">
                    <!--<li class="smallCol">Srl No.</li>-->
                    <li class="smallCol">User Name</li>
                    <li class="">Full Name</li>
                    <li class="startDate">Date Of Creation</li>
                    <li class="">Address</li>
                    <li class="">Phone Number</li>
                    <li class="emailId">Email Id</li>
                    <li class="emailId">Access</li>
                    <li class="smallCol"></li>
                </ul>
            </div>
            <div class="dataRow " ng-repeat="user in userList | filter : search">
                <ul class="rowCont">
                    <!--<li class="smallCol"><a href="#">{{$index+1}}</a></li>-->
                    <li class="smallCol">{{user.username}}</li>
                    <li class="">{{user.fullName}}</li>
                    <li class="startDate">{{user.dateTime | date : 'dd, MMM yyyy'}}</li>
                    <li class="">{{user.Address}}</li>
                    <li class="">{{user.contactNo}}</li>
                    <li class="emailId">{{user.emailId}}</li>
                    <li class="emailId">{{user.permission}}</li>
                    <li class="smallCol"><a class="btnLink paddingLR "
                                            ng-click="getCustomerById(user._id)">Edit</a>
                        <a class="btnLink paddingLR "
                                            ng-click="deleteUser(user._id)">Delete</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="loader centerTxt" ng-show="loader">
    <p>Loading</p>
    <img src="images/spinner.gif">
</div>

<div class="popup user " ng-init="pageNo=0">
    <div class="x close paddingLR">x</div>
    <div class="page1" ng-show="pageNo==0">
        <div class="subTitle borderBtm paddingBtmSml">
            User Credentials
        </div>
        <ul class="form paddingTop flow">
            <li>
                <div class="dropDown midBlock full subNormal">
                    <div class="head " data-init="0">
                        <div class="midBlock inputLabel">User Type :</div>
                        <div class="headTitle midBlock normalColor">
                            {{uploadData.userType}}
                        </div>
                    </div>
                    <ul class="list">
                        <li ng-repeat="type in userType" ng-click="uploadData.userType=type.userType">
                            {{type.userType}}
                        </li>
                    </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
                </div>
            </li>
            <li>
                <div class="dropDown midBlock full subNormal">
                    <div class="head " data-init="0">
                        <div class="midBlock inputLabel">Permission :</div>
                        <div class="headTitle midBlock normalColor">
                            {{uploadData.permission}}
                        </div>
                    </div>
                    <ul class="list">
                        <li ng-click="uploadData.permission='Web'">
                            Web
                        </li>
                        <li ng-click="uploadData.permission='App'">
                            App
                        </li>
                        <li ng-click="uploadData.permission='Both'">
                            Both
                        </li>
                        <li ng-click="uploadData.permission='None'">
                            None
                        </li>
                    </ul><!-- | filter : { 'cust_id': uploadData.cust_id }-->
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">User Name : </span>
                    <input type="text" ng-model="uploadData.username" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Full Name : </span>
                    <input type="text" ng-model="uploadData.fullName" placeholder="" class="midBlock">
                </div>
            </li>
        </ul>

        <ul class="form paddingTop  flow">
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Contact No : </span>
                    <input type="text" ng-model="uploadData.contactNo" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">E-Mail Id: </span>
                    <input type="text" ng-model="uploadData.emailId" placeholder="" class="midBlock">
                </div>
            </li>
        </ul>
    </div>
    <div class="page2" ng-show="pageNo==1">
        <div class="subTitle borderBtm paddingBtmSml">
            User Contact Detail
        </div>
        <ul class="form paddingTop">
            <li>
                Address
            </li>

            <li>
                <textarea ng-model="uploadData.Address"></textarea>

            </li>
        </ul>
        <ul class="form flow">
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Block : </span>
                    <input type="text" ng-model="uploadData.block" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">District : </span>
                    <input type="text" ng-model="uploadData.district" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">State : </span>
                    <input type="text" ng-model="uploadData.state" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">postalCode : </span>
                    <input type="text" ng-model="uploadData.postalCode" placeholder="" class="midBlock">
                </div>
            </li>
        </ul>
    </div>
    <div class="page3" ng-show="pageNo==2">
        <div class="subTitle borderBtm paddingBtmSml">
            Identity Detail
        </div>
        <ul class="form paddingTop  flow">
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Aadhar Card No : </span>
                    <input type="text" ng-model="uploadData.aadharNo" placeholder="" class="midBlock">
                </div>
            </li>
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Pan No : </span>
                    <input type="text" ng-model="uploadData.panNo" placeholder="" class="midBlock">
                </div>
            </li><!--
            <li>
                <div class="input-group">
                    <span class="inputLabel midBlock">Driver`s License No : </span>
                    <input type="text" ng-model="uploadData.driverLicense" placeholder="" class="midBlock">
                </div>
            </li>-->
        </ul>
    </div>


    <ul class="form flow" ng-show="pageNo==2">
        <li>
            <div class="btn floatLeft close" ng-click="pageNo=0">CANCEL</div>
        </li>
        <li>
            <div class="btn floatRight" ng-click="saveUser()">SAVE</div>
        </li>
    </ul>
    <ul class="form flow" ng-show="pageNo<2">
        <li>
            <div class="btn" ng-click="pageNo=pageNo-1" ng-show="pageNo>0">PREVIOUS</div>
        </li>

        <li>
            <div class="btn floatRight" ng-click="pageNo=pageNo+1" ng-show="pageNo<2">NEXT</div>
        </li>
    </ul>
    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>
<!--
<div class="popup editCustomer ">
    <div class="x close paddingLR">x</div>
    <div class="subTitle borderBtm paddingBtmSml">
        Customer Detail
    </div>
    <ul class="form paddingTop flow">
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Customer Code : </span>
                <input type="text" ng-model="customerDetail.cust_id" placeholder="" class="midBlock"
                       value="{{offerData.startDate}}">
                <input type="hidden" ng-model="customerDetail.srl_no" placeholder="">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Full Name : </span>
                <input type="text" ng-model="customerDetail.cust_name" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">E-Mail Id: </span>
                <input type="text" ng-model="customerDetail.email_id" placeholder="" class="midBlock">
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="inputLabel midBlock">Contact No : </span>
                <input type="text" ng-model="customerDetail.cust_no" placeholder="" class="midBlock">
            </div>
        </li>
    </ul>
    <ul class="form">
        <li>
            Address
        </li>

        <li>
            <textarea ng-model="customerDetail.cust_address"></textarea>

        </li>
    </ul>
    <ul class="form flow">
        <li>
            <div class="btn" ng-click="updateCustomer(customerDetail.srl_no)">UPDATE</div>
        </li>

        <li>
            <div class="btn floatRight close">CANCEL</div>
        </li>
    </ul>

    <ul class="form ">
        <li>
            <span class="error" ng-show="msg">{{msg}}</span>
        </li>
    </ul>


</div>-->
